{% extends "layout.html" %}
{% block body %}
<h2>Hakkında</h2>
<hr>
<p>Yazı, sıklıkla, bir dildeki sözleri temsil eden semboller sistemi olarak tarif edilir. Tüm diller bir yazı sistemi
    kullanmasa da, yazı sistemine sahip olanlar, mekan boyunca iletilebilen (örneğin yazışma) ve zaman içinde depolanabilen
    (örneğin, kütüphaneler) kalıcı konuşma biçimlerinin yaratılmasını sağlayarak konuşma dilinin kapasitelerini
    tamamlayabilir ve genişletebilir.[4] Ayrıca, yazma etkinliğinin, insanların düşüncelerini üzerinde düşünmek ve
    potansiyel olarak üzerinde yeniden çalışmasını sağlamak için dışarı aktarılmasına izin verdiği için, bilgiyi dönüştürücü
    ve genişletici etkilere sahip olabileceği de gözlemlenmiştir.</p> 
{% endblock body %}